$fonte-geral: "Rubik", sans-serif;
$cor-botões: rgb(139,138,138);
$tam-fonte-titulo: 40px;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
  font-family: $fonte-geral;
  background-color: #e5e0da;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
}

main{
    margin-top: 60px;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    background: rgb(30, 38,42); /* mudar a cor?*/
    /* border: solid 1px black; */
    height: 15vh;
    margin-bottom: 10px;
}

.logo{
    margin-left: 10%;
}

// .logo .empresa p{
//     font-size: 15px;
//     color: rgb(255, 255, 255);
// }

.nav-list img{
    width: 80px;
}

.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    /* border: solid red 2px; */
}
.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu a:hover{
    color: rgb(121, 116, 116);
    transition: 0.4s;
}

.menu li{
    margin: 0 40px;
    font-size: 20px;
}

.menu li ul{
    display: none;
    position: absolute;
    list-style: none;
    background-color: rgb(185, 185, 185);
    /* background-color: rgb(255, 255, 255); */
}

.menu li ul:hover{
    /* background-color: rgb(139, 138, 138); */
    transition: 0.4s;
}

.menu li:hover ul {
    display: block;
    padding: 10px;
    border-radius: 4px;
}

.menu li ul li {
    margin: auto;
}


.container{
    display: flex;
    justify-content: center;
}

.slideshow{
    position: relative;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}
.slideshow img{
    width: 100%;
    height: 110vh;
    opacity: 0.9;
    display: block;
}

.mySlides{
    display: none;
}

.mySlides.active {
    display:block;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.prev, .next {
    position: absolute;
    top: 70%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: rgba(0,0,0,0.5); /* Fundo semi-transparente */
    border: none;
    cursor: pointer;
    transform: translateY(-50%);
    border-radius: 50%;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(213, 212, 212, 0.8);
    transition: 0.4s;
}


.texto, .texto2{
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -20%);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 14px;
    width: 30%;
}

.texto p{
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: $fonte-geral;
    //  border: solid red 1px; 
}

.texto button{
    width: 50%;
    font-size: 25px;
    font-family: "Rubik", sans-serif;
    background-color: $cor-botões;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.texto button:hover{
    color: white;
    transition: 0.4s;
}

.texto2 p{
    font-size: 50px;
    font-weight: bold;
    font-family: $fonte-geral;
}

#sobre{
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    margin-bottom: 10%;
    scroll-margin-top: 100px;
    // border: solid 2px green;
    width: 75%;
    /* background-color: rgb(233, 224, 224); */
}
#sobre h1{
    font-size: 50px ;
    /* border: solid blue 1px; */
    margin-top:30px;
}

#sobre img{
    margin-top: 50px;
}

#sobre p{
    text-align: justify;
}
.tech{
    /* border: solid red 2px; */
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.tech p{
    /* align-items:center ; */
    font-size: 20px;
    max-width: 50%;
    margin: 5%;
    /* border: solid 2px yellow; */
}

.tech img{
    width: 350px;
}

#produtos{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    // border: solid red 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    scroll-margin-top: 150px;
}

#produtos img{
    width: 500px;
    margin-top: 5%;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

#produtos img:hover{
    transform: scale(0.9);
    opacity: 0.8;
}

#produtos button{
    border: none;
    border-radius: 5px;
    font-size: 30px;
    width:15%;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    background-color: $cor-botões;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 20px;
}

#produtos button:hover{
    color: white;
}

#produtos a{
    width: 100%;
}

#produtos h1{
    margin-bottom: 5%;
    font-size: 50px;
}
#produtos #image {
    display: flex;
    font-size: 40px;
    /* background-image: url(imagens/background-5035259_1280.jpg); */
    background: rgb(30, 38,42); 
    /* border: solid 1px black; */
    /* background-repeat: no-repeat;
    background-size:100%; */
    width: 100%;
    height: 20vh;
    align-items: center;
    justify-content: center;
}

#produtos #image h1{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-weight: bold;
    margin-top: 100px;
}

#produtos h2{
    margin-top: 15%;
    font-size: 40px;
}

#produtos p{
    margin-top: 20px;
    font-size: 20px;
    max-width: 30%;
    text-align: justify;
}

#equipe{
    scroll-margin-top: 150px;
}

#autores{
    /* margin-top: 20%; */
    /* border: solid 2px blue; */
    display: flex;
    justify-content: space-evenly; 
    /* flex-direction: column; */
    width: 75%;
}

#autores .autor{
    text-align: center;
    font-weight: bold;
}

#autores .autor p{
    padding: 5px;
}

#autores img{
    width: 300px;
    height: 350px;  
    /* border-radius: 10px;
    border: 2px solid black; */
}

.icons{
    display: flex;
    gap: 30px;
    margin: 15px;
    justify-content: center
}
.icons i{
    font-size: 30px;
}

.icons a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.icons a:hover{
    color: #0077b5;
    transition: 0.4s;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
    margin-bottom: 5%;
    /* border: solid red 1px; */
    text-align: center;
}

.title h1{
    font-size: $tam-fonte-titulo;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in.visible {
    opacity: 1;
}

#contato{
    color: rgb(0, 0, 0);
    margin-top: 30px;
    /* border: solid 3px rgb(0, 0, 0); */
    box-shadow: inset 0px 0px 7px 1px;
    width: 40%;
    background-color:rgb(197,197,197);
    border-radius: 15px;
    scroll-margin-top: 250px;
}

#contato h1{
    text-align: center;
}

#fale-conosco{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20%;
    /* margin-bottom: 5%; */
    /* border: solid red 1px; */
    text-align: center;
}

.fale-conosco h1{
    font-size: 40px;
}

.formulario{
    /* border: solid green 1px; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    flex-direction: column;
}

.formulario input, textarea{
    border-radius: 5px;
    margin:10px;
    /* border: solid blue 1px; */
    width: 30%; 
    font-family: $fonte-geral;
}

.formulario input{
    height: 1.9rem;
}

.formulario textarea{
    height: 10vh;
}

.formulario button{
    width: 20%;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
    background-color: $cor-botões;
    border: none;
    border-radius: 5px;
    font-family: $fonte-geral;
    font-weight: bold;
}

.formulario button:hover{
    color: rgb(255, 255, 255);
    transition: 0.4s;
}

.rodape{
    margin-top: 20%;
    background: rgb(30, 38,42); 
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* footer{
    display: flex;
    align-items: center;
} */

.rodape p{
    font-size: 15px;
    color: white;
}

.rodape img{
    width: 100px;
}

@media (max-width: 768px){
    .nav-list img{
      width: 50px;
    }
    .slideshow img{
      height: 80vh;
    }

    .prev, .next{
        top: 50%;
    }
  
    .texto button{
      width: 100%;
    }
  
    #sobre h1{
      font-size: 30px;
    }
  
    #sobre img{
      width: 180px;
    }
  
    #sobre p{
      /* border: solid red 1px; */
      font-size: 20px;
      max-width: 75%;
    }
  
    #produtos #image h1{
      margin: 0;
    }
  
    #produtos h2{
      font-size: 30px;
    }

    #produtos p{
        max-width: 50%;
    }
  
    #produtos img{
      width: 250px;
    }
  
    #produtos button{
      width: 25%;
      font-size: 25px;
    }

    #autores img{
        height: 300px;
        width: 250px;
    }

    .title h1{
        font-size: 30px;
    }

    .icons i{
        font-size: 25px;
    }

    #contato{
        width: 85%;
    }
    .texto p{
        font-size: 40px;
        border: solid 1px red;
        max-width: 100%;
    }
  }
